<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Portal</title>
<link rel="stylesheet" href="../static/css/acompanhamento.css">
</head>
<body>

<div class="card">

    <h1>OsExpert</h1>
    <h3>PORTAL DE ACOMPANHAMENTO</h3>

    <div class="veiculo">
        <p>Seu veículo está em nossa oficina:</p>
        <h2>Civic (ABC-1234)</h2>
        <span>EM MANUTENÇÃO</span>
    </div>

    <div class="menu">
        <h4>Ver Status Atual</h4>
        <p>Verificar a linha de tempo do serviço</p>
    </div>

    <div class="menu">
        <h4>Aprovar Adicionais</h4>
        <p>Liberar novos itens recomendados</p>
    </div>

    <div class="menu">
        <h4>Realizar Pagamento</h4>
        <p>Efetuar fechamento da OS via PIX</p>
    </div>

</div>

</body>
</html>