<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

<div class="container">

    <h1>Dashboard</h1>

    <div class="cards-status">

        <div class="status-card">
            <h2>12</h2>
            <span>OS ATIVAS</span>
        </div>

        <div class="status-card">
            <h2>05</h2>
            <span>CONCLUÍDAS</span>
        </div>

    </div>

    <div class="faturamento">

        <div>
            <p>Faturamento Diário</p>
            <h2>R$ 4.850,00</h2>
        </div>

        <i class="fa-solid fa-bars"></i>

    </div>

    <h3 class="titulo-mecanicos">
        Mecânicos em Atividade
    </h3>

    <div class="mecanico">
        <span>André (Suspensão)</span>
        <div class="bolinha verde"></div>
    </div>

    <div class="mecanico">
        <span>Ricardo (Motor)</span>
        <div class="bolinha amarela"></div>
    </div>

    <div class="mecanico">
        <span>Renatão (Freio)</span>
        <div class="bolinha cinza"></div>
    </div>

    <div class="info">
        <i class="fa-solid fa-arrow-right"></i>
        <span>Informações detalhadas</span>
    </div>

    <div class="mostrar-mais">
        <i class="fa-solid fa-angle-down"></i>
        <span>MOSTRAR MAIS</span>
    </div>

</div>

</body>
</html>