<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Faturamento</title>
<link rel="stylesheet" href="../static/css/finalizar-os.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

<div class="container">

    <a class="voltar">←</a>

    <h1>Finalizar OS</h1>

    <div class="observacoes">

        <h3>Observações Técnicas</h3>

        <textarea placeholder="Descreva aqui qualquer detalhe relevante sobre a execução..."></textarea>

    </div>

    <div class="tempo">

        <span>Tempo Total</span>

        <h2>01:45:00</h2>

    </div>

    <button class="btn-enviar">
        ENVIAR PARA REVISÃO
    </button>

    <button class="btn-pausar">
        PAUSAR SERVIÇO
    </button>

</div>