<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Galeria de Fotos</title>
<link rel="stylesheet" href="../static/css/galeria.css">
</head>
<body>

<div class="container">

    <h1>Galeria de Fotos</h1>
    <p>Evidências fotográficas registradas pelo 
mecânico Ricardo durante o diagnóstico 
técnico da OS #452:</p>

    <!-- FOTO 1 -->
    <div class="card-foto">

        <span class="tag trocar">
            TROCAR
        </span>

        <div class="foto foto1"></div>

        <div class="descricao">
            Pastilha desgastada no limite.
        </div>

    </div>

    <!-- FOTO 2 -->
    <div class="card-foto">

        <span class="tag ok">
            OK
        </span>

        <div class="foto foto2"></div>

        <div class="descricao">
            Filtro antigo removido.
        </div>

    </div>

    <!-- FOTO 3 -->
    <div class="card-foto">

        <span class="tag alerta">
            ATENÇÃO
        </span>

        <div class="foto foto3 grande"></div>

        <div class="descricao">
            Análise de contaminação do fluído de freio.
        </div>

    </div>

    <button>
        VOLTAR AO RESUMO
    </button>

</div>

</body>
</html>