<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de OS</title>
    <link rel="stylesheet" href="../static/css/historico.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="card-historico">
        <h2 class="titulo-historico">Histórico</h2>
        
        <div class="linha-divisoria"></div>

        <div class="container-busca">
            <input type="text" class="input-placa" value="ABC-1234" placeholder="Digite a placa...">
            <button class="botao-busca">🔍</button>
        </div>

        <div class="lista-historico">
            
            <div class="item-historico">
                <div class="data-item">12/05/2026</div>
                <div class="servico-item">Troca de Óleo</div>
                <div class="mecanico-item">Mecânico: Ricardo</div>
            </div>

            <div class="item-historico">
                <div class="data-item">10/01/2024</div>
                <div class="servico-item">Revisão 40k</div>
                <div class="mecanico-item">Mecânico: André</div>
            </div>

        </div>
    </div>

</body>
</html>