<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mecânicos</title>
<link rel="stylesheet" href="../static/css/mecanico-menu.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

<div class="container">

    <div class="topo">
        <div>
            <span>OFICINA TÉCNICA</span>
            <h1>Menu Mecânico</h1>
        </div>

        <div class="perfil">G</div>
    </div>

    <div class="card-menu">
        <div class="icone">📋</div>

        <div>
            <h3>Minhas Tarefas</h3>
            <p>Lista de OS ativas e pendentes</p>
        </div>
    </div>

    <div class="card-menu">
        <div class="icone">📦</div>

        <div>
            <h3>Estoque & Peças</h3>
            <p>Consultar disponibilidade de insumos</p>
        </div>
    </div>

    <div class="card-menu">
        <div class="icone">⇆</div>

        <div>
            <h3>Registrar Retirada</h3>
            <p>Dar baixa em peças utilizadas no serviço</p>
        </div>
    </div>

</div>