<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mecânicos</title>
<link rel="stylesheet" href="../static/css/minhas-tarefas.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

    <div class="container">

    <a class="voltar">←</a>

    <h1>Minhas Tarefas</h1>

    <div class="os-card ativa">

        <h2>ABC-1234 - Civic</h2>

        <span class="status execucao">
            EM EXECUÇÃO
        </span>

        <div class="acoes">
            <button class="btn-finalizar">
                FINALIZAR
            </button>

            <button class="btn-pecas">
                PEÇAS
            </button>
        </div>

    </div>

    <div class="os-card">

        <h2>XYZ-9999 - Hilux</h2>

        <span class="status aguardando">
            AGUARDANDO
        </span>

    </div>

</div>