<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova OS</title>
    <link rel="stylesheet" href="../static/css/novaos.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="card-os">
        <h2 class="titulo-os">Nova OS #452</h2>
        
        <div class="linha-divisoria"></div>

        <div class="campo-input">
            <span class="label-negrito">Peças:</span> Pastilha Freio
            <div class="valor-verde">R$ 250,00</div>
        </div>

        <div class="campo-input">
            <span class="label-negrito">Mão de Obra:</span> Troca
            <div class="valor-verde">R$ 100,00</div>
        </div>

        <div class="campo-total">
            TOTAL: <span class="total-destaque">R$ 350.00</span>
        </div>

        <div class="secao-mecanico">
            <label class="subtitulo-mecanico">MECÂNICO ESPECIALISTA</label>
            <div class="campo-input input-busca">
                <span class="label-negrito">BUSCA:</span> "Freios"
            </div>
        </div>

        <button class="botao-gerar">GERAR PDF ORÇAMENTO</button>
    </div>

</body>
</html>