<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pagamento</title>
<link rel="stylesheet" href="../static/css/pagamentos.css">
</head>
<body>

<div class="container">

    <h1>Pagamento Realizado</h1>

    <div class="valor-card">

        <p class="titulo-card">
            VALOR CONSOLIDADO
        </p>

        <h2>R$ 345,00</h2>

        <span class="status">
            AGUARDANDO PIX
        </span>

    </div>

    <div class="qr-card">

        <div class="qr-code">

            <!-- Exemplo visual -->
            <div class="bloco"></div>

        </div>

        <p>
            Escaneie para pagar
        </p>

    </div>

    <button class="btn-pix">
        COPIAR CÓDIGO PIX
    </button>

    <button class="btn-comprovante">
        SALVAR COMPROVANTE
    </button>

</div>

</body>
</html>