<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mecânicos</title>
<link rel="stylesheet" href="../static/css/pecas-tarefas.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

<div class="container">

    <a class="voltar">←</a>

    <h1>Peças e Tarefas</h1>

    <hr>

    <div class="cabecalho-os">
        OS #452 - CIVIC (ABC-1234)
    </div>

    <div class="lista">

        <label>
            <input type="checkbox" checked>
            Pastilha de Freio Diant.
        </label>

        <label>
            <input type="checkbox">
            Fluído de Freio DOT4
        </label>

        <label>
            <input type="checkbox">
            Limpeza de Discos
        </label>

    </div>

    <button class="btn-principal">
        CONFIRMAR RETIRADA
    </button>

    <button class="btn-secundario">
        SOLICITAR ITEM EXTRA
    </button>

</div>