<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status da Ordem de Serviço</title>
<link rel="stylesheet" href="../static/css/statusos.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="card-status">
        <h2 class="titulo-status">Status da Ordem de Serviço</h2>
        
        <div class="linha-divisoria"></div>

        <div class="container-tabela">
            <table class="tabela-os">
                <thead>
                    <tr>
                        <th>N° OS</th>
                        <th>Status</th>
                        <th>Prazo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#001</td>
                        <td>Andamento</td>
                        <td>01/06/2026</td>
                    </tr>
                    <tr>
                        <td>#001</td>
                        <td>Aberto</td>
                        <td>01/06/2026</td>
                    </tr>
                    <tr>
                        <td>#001</td>
                        <td><span class="link-status">Aguardando P.</span></td>
                        <td>01/06/2026</td>
                    </tr>
                    <tr>
                        <td>#001</td>
                        <td>Finalizado</td>
                        <td>01/06/2026</td>
                    </tr>
                    <tr>
                        <td>#001</td>
                        <td>Cancelado</td>
                        <td>01/06/2026</td>
                    </tr>
                    <tr>
                        <td>#001</td>
                        <td>Loren Ipsum</td>
                        <td>01/06/2026</td>
                    </tr>
                    <tr>
                        <td>#001</td>
                        <td>Lorem Ipsum</td>
                        <td>01/06/2026</td>
                    </tr>
                    <tr>
                        <td>#001</td>
                        <td>Loren Ipsum</td>
                        <td>01/06/2026</td>
                    </tr>
                    <tr>
                        <td>#001</td>
                        <td>Andamento</td>
                        <td>01/06/2026</td>
                    </tr>
                    <tr>
                        <td>#001</td>
                        <td>Aberto</td>
                        <td>01/06/2026</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>