<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OS-Expert - Registrar Retirada</title>
    <link rel="stylesheet" href="../../static/css/global.css">
    <link rel="stylesheet" href="../../static/css/mecanico.css">
</head>
<body>

<main class="card-container app-screen">
    <a href="home.html" class="btn-back">&#8592;</a>

    <h1 class="view-title">Registrar Retirada</h1>
    <hr class="divider">
    <p class="section-instruction">Selecione os itens físicos que você está retirando do armário de ferramentas/estoque
        agora:</p>

    <section class="withdrawal-list">

        <div class="withdrawal-group">
            <span class="group-vehicle-tag">Civic (ABC-1234) - OS #1024</span>

            <div class="withdrawal-item-row">
                <div class="item-details">
                    <span>1x Jogo de Pastilhas de Freio</span>
                    <small class="status-label">Status: Aprovado pelo Cliente</small>
                </div>
                <button class="btn-action-withdraw" data-peca-id="451">Dar Baixa</button>
            </div>

            <div class="withdrawal-item-row">
                <div class="item-details">
                    <span>4L Óleo Sintético 0W20</span>
                    <small class="status-label">Status: Aprovado pelo Cliente</small>
                </div>
                <button class="btn-action-withdraw" data-peca-id="951">Dar Baixa</button>
            </div>

            <div class="withdrawal-item-row">
                <div class="item-details">
                    <span>1x Filtro de Óleo</span>
                    <small class="status-label">Status: Aprovado pelo Cliente</small>
                </div>
                <button class="btn-action-withdraw" data-peca-id="892">Dar Baixa</button>
            </div>

            <div class="withdrawal-item-row">
                <div class="item-details">
                    <span>Fluído de Freio DOT4</span>
                    <small class="status-label">Status: Aprovado pelo Cliente</small>
                </div>
                <button class="btn-action-withdraw" data-peca-id="773">Dar Baixa</button>
            </div>
        </div>

    </section>
</main>

<script src="../../static/js/Mecanico/registrar-retirada.js"></script>

</body>
</html>