<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OS-Expert - Minhas Tarefas</title>
    <link rel="stylesheet" href="../../static/css/global.css">
    <link rel="stylesheet" href="../../static/css/mecanico.css">
</head>
<body>

<main class="card-container app-screen">
    <a href="home.html" class="btn-back">&#8592;</a>

    <h1 class="view-title">Minhas Tarefas</h1>
    <hr class="divider">

    <section class="task-list">

        <div class="task-card status-diagnostic">
            <div class="task-card-header">
                <span class="task-os-number">OS #1024</span>
                <span class="badge-task yellow">DIAGNÓSTICO</span>
            </div>
            <h3>Civic (ABC-1234)</h3>
            <p class="task-desc">Sintoma: Barulho ao frear e perda de torque.</p>
            <button class="btn-task-action">Iniciar Checklist
            </button>
        </div>

        <div class="task-card status-waiting">
            <div class="task-card-header">
                <span class="task-os-number">OS #1020</span>
                <span class="badge-task blue">AGUARDANDO PEÇAS</span>
            </div>
            <h3>Hilux (XYZ-9999)</h3>
            <p class="task-desc">Aguardando liberação das peças no almoxarifado.</p>
            <button class="btn-task-action btn-disabled" disabled>Aguardando</button>
        </div>

    </section>
</main>

<script src="../../static/js/Mecanico/mecanico-tarefas.js"></script>

</body>
</html>