*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#000;
    display:flex;
    justify-content:center;
    padding:40px 0;
}

.container{
    width:360px;
    background:#fff;
    border-radius:12px;
    padding:20px;
}

h1{
    font-size:20px;
    color:#404040;
    margin-bottom:20px;
}

.card-foto{
    position:relative;
    margin-bottom:18px;
    border-radius:8px;
    overflow:hidden;
    border:1px solid #ececec;
    box-shadow:0 2px 6px rgba(0,0,0,.08);
    background:white;
}

.tag{
    position:absolute;
    top:10px;
    left:10px;
    z-index:2;

    padding:5px 10px;
    border-radius:20px;

    font-size:11px;
    font-weight:bold;
}

.trocar{
    background:#ef4444;
    color:white;
}

.ok{
    background:#22c55e;
    color:white;
}

.alerta{
    background:#f59e0b;
    color:white;
}

.foto{
    width:100%;
    height:180px;
    background:#d9d9d9;
}

.foto1{
    background:
    linear-gradient(
    rgba(0,0,0,.15),
    rgba(0,0,0,.15)
    ),
    #bdbdbd;
}

.foto2{
    background:
    linear-gradient(
    rgba(0,0,0,.15),
    rgba(0,0,0,.15)
    ),
    #cfcfcf;
}

.foto3{
    background:
    linear-gradient(
    rgba(0,0,0,.15),
    rgba(0,0,0,.15)
    ),
    #b5b5b5;
}

.grande{
    height:230px;
}

.descricao{
    padding:12px;
    font-size:13px;
    color:#5b6470;
    line-height:1.4;
}

button{
    width:80%;
    height:44px;

    display:block;
    margin:25px auto 0;

    border:none;
    border-radius:6px;

    background:#3b82f6;
    color:white;

    font-weight:bold;
    cursor:pointer;
}