* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000000; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* Container Principal */
.card-status {
    background-color: #ffffff;
    width: 450px;
    padding: 35px 25px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.titulo-status {
    color: #000000;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}

.linha-divisoria {
    height: 1px;
    background-color: #e0e0e0;
    margin-bottom: 20px;
}


.container-tabela {
    border: 1px solid #bcbcbc;
    border-radius: 8px;
    overflow: hidden; 
}

/* Estrutura da Tabela */
.tabela-os {
    width: 100%;
    border-collapse: collapse; 
    text-align: center;
    font-size: 14px;
}

.tabela-os thead th {
    background-color: #ffffff;
    color: #000000;
    font-weight: 700;
    padding: 12px;
    border-bottom: 1px solid #bcbcbc;
}

.tabela-os tbody td {
    padding: 10px 12px;
    color: #000000;
    font-weight: 700; 
}

.tabela-os tbody tr:nth-child(odd) {
    background-color: #e5e2e2; 
}

.tabela-os tbody tr:nth-child(even) {
    background-color: #ffffff; 
}


.link-status {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
}